API_ID=11014475 # get this value from my.telegram.org
API_HASH=650dfbccf65165e851addc9b6750f5c8 # get this value from my.telegram.org
BOT_TOKEN=5291289945:AAGCE_bf2QaP3etaDcgdXcz-ZISDAXoFBA4 # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://kontol:kontol@cluster0.rg9ig.mongodb.net/test?myFirstDatabase?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001512747370 # get this value from in your log group 
MUSIC_BOT_NAME=???? ?????????? # your music bot name 
STRING_SESSION=AgC8uVB_d7rpNVx4GGfnLoorVKDGlfNRdx66DzImUG1rDoa6w9pt-NH_VBwCl7jamFxJH04U43Zxu1q-OE4ruLsjpF3N8o6f1cJmWJr0yCYhGYLdv_keDpimkGO46f0YqGHygo5G7jOgVthWNy5u3_gJKMcDic85JxiDOKK6cNxM0pSAmwzK6NUdWdshfYMvySHDvT0uM5jgkNcEDsFV-f1zOs0Svs3F0UzU2FMsbnp1UtdwHuXjmKAAlrBY-Cazq85QD-W20TFVGq18Tq-o4aCf4xyy4gJCBe_Df_DnKrB5jxvF5jUOPdeIIRCp1pe031fEjgb_jO3pCvETXVxZl-jJAAAAATVV3xwA # get this value from @yukkistringbot